body, input, button{
  background-image: url('images/360_F_292951750_0PURxGReQeciMPIt6H2ag2VkAJA9LK1C.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
    font-size:x-large;
  }